<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="shortcut icon" href="#" />
  <title><%= title %></title>
</head>

<body>
  <%- include('sidebar') -%>
  <div class="wrapper">
    <h1><%= title %></h1>
        <p>Do you really want to delete this instance?</p>
        <form method="POST" action="">
            <div class="form-group">
                <input id="keyboard_instance_id"class='form-control' type="hidden" name="keyboard_instance_id" required="true" value="<%= keyboard_instance._id %>">
                <button class="btn btn-primary" type="submit">Delete</button>
            </div>
        </form>
  </div>
</body>

</html>