<div class="container-fluid">
  <ul class="sidebar-nav">
    <li><a href="/inventory">Home</a></li>
    <li><a href="/inventory/keyboards">All keyboards</a></li>
    <li><a href="/inventory/brands">All brands</a></li>
    <li><a href="/inventory/switches">All switches</a></li>
    <li><a href="/inventory/instances">All instances</a></li>
    <hr />
    <li><a href="/inventory/keyboard/create">Add new keyboard</a></li>
    <li><a href="/inventory/brand/create">Add new brand</a></li>
    <li><a href="/inventory/switch/create">Add new switch</a></li>
    <li><a href="/inventory/instance/create">Add new instance</a></li>
  </ul>
</div>
