<div class="sidebar">
  <div class="logo-container">
    <a href="/inventory" class="logo-link">
      <img src="/images/keys.png" alt="logo" class="logo"/>
    </a>
</div>
  <div class="sidebar-group">
    <h3 class="sidebar-headline">GET</h3>
    <ul>
    <li class="sidebar-link"><a href="/inventory/keyboards" >All keyboards</a></li>
    <li class="sidebar-link"><a href="/inventory/brands">All brands</a></li>
    <li class="sidebar-link"><a href="/inventory/switches">All switches</a></li>
    <li class="sidebar-link"><a href="/inventory/instances">All instances</a></li>
  </ul>
</div>
  <div class="sidebar-group">
    <h3 class="sidebar-headline">POST</h3>
    <ul>
      <li class="sidebar-link"><a href="/inventory/keyboard/create">Add new keyboard</a></li>
      <li class="sidebar-link"><a href="/inventory/brand/create">Add new brand</a></li>
      <li class="sidebar-link"><a href="/inventory/switch/create">Add new switch</a></li>
      <li class="sidebar-link"><a href="/inventory/instance/create">Add new instance</a></li>
    </ul>
</div>

</div>
