html {
}
body {
  display: flex;
  padding: 50px;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
.container-fluid {
  width: 150px;
  padding: 1rem;
  left: 0;
}
.row {
  width: 50px;
}
.sidebar {
  width: 350px;
  position: fixed;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
